
#first p {
    border: 2px solid;
    margin: 5px;
    display: none;
}

#second {
    border: 2px solid;
    margin: 5px;
}



#third {
    border: 2px solid;
    margin: 5px;
    }
#third p {
    display: none;
}    

#third h3 {
    display: none;
}

#fourth {
    border: 2px solid;
    margin: 5px;
}

#fifth {
    border: 2px solid;
    margin: 5px;
    
}
#fifth p {
    display: none;
}

#sixth {
    border: 2px solid;
    margin: 5px;
}

h1 {
    display: none;
}

