
#first {
    border: 2px solid;
    margin: 5px;
}

#first > #third > p {
    font-size: 200%;
}

#second {
    border: 2px solid;
    margin: 5px;
}

#third {
    border: 2px solid;
    margin: 5px;
    }

#fourth {
    border: 2px solid;
    margin: 5px;
}

#fifth {
    border: 2px solid;
    margin: 5px;
}


#sixth {
    border: 2px solid;
    margin: 5px;
}
