html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 76% arial, sans-serif;
  text-align: center;
}
p {
  margin: 0 10px 10px;
}
a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
}
div#header {
  background-color: grey;
  text-align: center;
}
div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}

div#authors {
    display: inline;
}

div#content {
    text-align: left;
}
div#content p {
  line-height: 1.4;
}
